
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h2>Hoş geldiniz: @ViewBag.name @ViewBag.surname</h2>
    <h3>ID Numaranız: @ViewBag.id</h3>
</div>