<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="./index.html"><img src="~/foodeiblog-master/img/humberger/humberger-logo.png" alt=""></a>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li><a href="./index.html">Ana Sayfa</a></li>
            <li><a href="#">Bloglar</a></li>
            <li><a href="#">Kategoriler</a></li>
            <li><a href="#">Yazarlar</a></li>
            <li><a href="./about.html">Hakkımızda</a></li>
            <li><a href="./contact.html">Bize Yazın</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="humberger__menu__about">
        <div class="humberger__menu__title sidebar__item__title">
            <h6>Bize Ulaşın</h6>
        </div>
        <img src="~/foodeiblog-master/img/humberger/humberger-about.jpg" alt="">
        <h6>Aşağıdaki hesaplarımız üzerinden bize yazabilirsiniz.</h6>
        <p>
            Cumhuriyet Mahallesi, Meydan Sokak No:24 Bostancı, Kadıköy İstanbul.
        </p>
        <div class="humberger__menu__about__social sidebar__item__follow__links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-envelope-o"></i></a>
        </div>
    </div>
    <div class="humberger__menu__subscribe">
        <div class="humberger__menu__title sidebar__item__title">
            <h6>Mail Bülteni</h6>
        </div>
        <p>Son bloglar ve yazılardan haberdar olmak için mail bültenimize hemen kaydolun.</p>
        <form action="#">
            <input type="text" class="email-input" placeholder="Email adresiniz...">
            <label for="agree-check">
                Şartları okudum & Kabul Ediyorum.
                <input type="checkbox" id="agree-check">
                <span class="checkmark"></span>
            </label>
            <button type="submit" class="site-btn">Abone Ol</button>
        </form>
    </div>
</div>