<head>
    <meta charset="UTF-8">
    <meta name="description" content="Foodeiblog Template">
    <meta name="keywords" content="Foodeiblog, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Core Blog</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/foodeiblog-master/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/foodeiblog-master/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/foodeiblog-master/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/foodeiblog-master/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/foodeiblog-master/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/foodeiblog-master/css/style.css" type="text/css">
</head>