<div class="sidebar__about__item">
    <div class="sidebar__item__title">
        <h6>About me</h6>
    </div>
    <img src="/foodeiblog-master/img/sidebar/sidebar-about.jpg" alt="">
    <h6>Merhaba herkese,! Ben <span>Sefa Tuynak.</span></h6>
    <p>
        Birbirinden keyifli konularda sizler için alanında yetkin ekip arkadaşlarımızla blog yazmaya devam ediyoruz. İyi okumalar dileriz.
    </p>
    <a href="#" class="primary-btn">Daha Fazlasını Gör</a>
</div>